<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>content</key>
			<string>测试数据</string>
			<key>title</key>
			<string>标题</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试经销商</string>
			<key>title</key>
			<string>经销商名称</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试日期</string>
			<key>title</key>
			<string>申请日期</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试日期</string>
			<key>title</key>
			<string>结束日期</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试金额</string>
			<key>title</key>
			<string>申请金额</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>content</key>
			<string>测试门店</string>
			<key>title</key>
			<string>门店</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试联系人</string>
			<key>title</key>
			<string>联系人名称</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试费用类型</string>
			<key>title</key>
			<string>费用类型</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试商品</string>
			<key>title</key>
			<string>商品</string>
		</dict>
		<dict>
			<key>content</key>
			<string>测试数量</string>
			<key>title</key>
			<string>数量</string>
		</dict>
	</array>
</array>
</plist>
